#sketch {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(3px) contrast(200%) grayscale(60%); }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 999;
  background-color: transparent;
  border: none;
  width: 100%;
  padding-right: 15px;
  font-family: "Days One", sans-serif;
  transition: all 0.5s;
  height: 70px; }
  @media screen and (max-device-width: 767px) {
    .navbar {
      background-color: #cd442d;
      color: #ebf0f0;
      height: 60px; } }
  .navbar ul {
    list-style: none;
    padding: 10px; }
    @media screen and (max-device-width: 767px) {
      .navbar ul {
        padding-right: 0; } }
    @media screen and (max-device-width: 767px) {
      .navbar ul li {
        background-color: #cd442d;
        margin: 0;
        padding: 5px 15px;
        width: 100%; } }
  .navbar a, .navbar a:visited, .navbar a:hover {
    color: #cd442d;
    text-decoration: none;
    padding: 15px 5px;
    transition: all 0.5s;
    border-radius: 5px;
    font-size: 1.1em; }
    @media screen and (max-device-width: 767px) {
      .navbar a, .navbar a:visited, .navbar a:hover {
        color: white; } }

@media screen and (min-device-width: 768px) {
  .navbar-scrolled {
    background-color: rgba(132, 154, 194, 0.5);
    height: 50px; }
    .navbar-scrolled a, .navbar-scrolled a:visited, .navbar-scrolled a:hover {
      color: #ad3926; } }

.menu-btn {
  float: right;
  width: 50px;
  margin-top: 10px; }
  @media screen and (min-device-width: 768px) {
    .menu-btn {
      display: none; } }

@media screen and (max-device-width: 767px) {
  .nav-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s; } }

@media screen and (max-device-width: 767px) {
  .nav-menu-display {
    max-height: 200px; } }

.link-effect-wrapper {
  position: relative;
  padding: 5px; }

.link-border {
  background-color: #ebf0f0;
  position: absolute;
  transition: all 0.7s; }

.link-border-top {
  top: 0;
  left: 0;
  height: 1px;
  width: 0; }

.link-border-bottom {
  bottom: 0;
  right: 0;
  height: 1px;
  width: 0; }

.link-border-right {
  top: 0;
  right: 0;
  height: 0;
  width: 1px; }

.link-border-left {
  top: 0;
  left: 0;
  height: 0;
  width: 1px; }

.link-effect-trigger:hover ~ .link-border-top, .link-effect-trigger:hover ~ .link-border-bottom {
  width: 100%; }

.link-effect-trigger:hover ~ .link-border-left, .link-effect-trigger:hover ~ .link-border-right {
  height: 100%; }

header {
  position: relative;
  color: #ebf0f0;
  background: transparent;
  height: 600px;
  overflow-x: hidden; }

.header-content {
  position: relative;
  z-index: 2;
  font-family: "Oswald", sans-serif;
  margin-top: 300px;
  transform: translateY(-50%);
  width: 50%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }
  .header-content .title, .header-content h1, .header-content h2 {
    text-shadow: 3px 3px 1px #849ac2, -3px -3px 1px #cd442d;
    margin-bottom: 25px; }
  .header-content h1 {
    font-size: 5em;
    letter-spacing: 2px;
    animation: h1-anim 1.2s forwards; }
    @media screen and (max-device-width: 768px) {
      .header-content h1 {
        font-size: 3em; } }
  .header-content h2 {
    font-size: 2.5em;
    animation: h2-anim 1.2s forwards; }

.joke {
  font-size: 0.8em;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  opacity: 0;
  padding: 30px;
  transition: all 0.5s;
  animation: joke-anim;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s; }

@keyframes joke-anim {
  from, 80% {
    opacity: 0%; }
  to {
    opacity: 0.5; } }
.arrow {
  margin-top: 40px;
  animation: arrow-anim 1.5s infinite; }

@keyframes arrow-anim {
  from, to {
    transform: none;
    opacity: 1; }
  60% {
    transform: translateY(50px);
    opacity: 0; } }
#sketch {
  position: fixed;
  z-index: 1; }

@keyframes h1-anim {
  from {
    transform: translateX(-100%) rotateZ(-20DEG);
    opacity: 0; }
  95% {
    transform: rotateZ(5DEG);
    opacity: 1; }
  to {
    transform: none; } }
@keyframes h2-anim {
  from {
    transform: translateX(100%) rotateZ(20DEG);
    opacity: 0; }
  95% {
    transform: rotateZ(-5DEG);
    opacity: 1; }
  to {
    transform: none; } }
section {
  background-color: #ebf0f0;
  margin-bottom: 100px;
  padding-bottom: 15px;
  position: relative;
  z-index: 2;
  border-bottom: solid 5px #cd442d; }

h3 {
  text-align: center;
  color: #ebf0f0;
  background: linear-gradient(#cd442d, #ad3926);
  padding: 10px;
  margin-top: 0;
  font-family: "Days One", sans-serif;
  cursor: pointer;
  transition: all 0.3s; }
  h3:hover {
    filter: contrast(120%); }

.section-content {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  padding-top: 15px; }

.photo {
  width: 50%;
  border: solid 5px #cd442d;
  box-shadow: 3px 3px 0 black; }
  @media screen and (max-device-width: 768px) {
    .photo {
      display: none; } }

h4 {
  border-bottom: solid 2px #cd442d;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 15px; }

.skill-icon {
  width: 32px; }

.contact-icon {
  width: 64px; }

li {
  margin-bottom: 10px; }

a {
  color: #849ac2;
  text-decoration: none; }

a:hover {
  color: #738cb9;
  text-decoration: none; }

.liste-education {
  padding-left: 30px; }

.project {
  position: relative; }

.project-legend {
  borderradius: 3px;
  border: solid 2px #849ac2;
  background-color: #ebf0f0;
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotateY(180DEG);
  opacity: 0;
  transition: all 0.5s ease-in-out; }

.project:hover .project-legend {
  opacity: 1;
  transform: none; }

.project:hover .project-img {
  opacity: 0;
  transform: rotateY(180DEG); }

.project-img {
  width: 100%;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out; }

.hire-me label {
  text-align: center;
  font-size: 2em;
  color: #cd442d;
  display: block; }
  @media screen and (max-device-width: 991px) {
    .hire-me label {
      display: none; } }

.hire-me button {
  background-color: #cd442d;
  color: #ebf0f0;
  border-radius: 10px;
  font-size: 1.6em;
  padding: 15px; }

.no {
  transition: all 0.5s; }

@keyframes yes-anim {
  from, to {
    transform: none; }
  20%, 60% {
    transform: rotateZ(-5DEG); }
  40%, 80% {
    transform: rotateZ(5DEG); } }
footer {
  background: linear-gradient(#cd442d, #ad3926);
  color: #ebf0f0;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-family: "Oswald", sans-serif; }
  @media screen and (max-device-width: 767px) {
    footer {
      height: 60px;
      font-size: 0.8em; } }
  footer span {
    border-right: solid #ebf0f0 1px;
    margin-right: 10px;
    padding-right: 10px; }

.back-to-top {
  float: right; }
  .back-to-top a, .back-to-top a:hover, .back-to-top a:visited {
    color: #ebf0f0;
    font-size: 1.3em; }

html, body {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  background-color: black; }

ul {
  list-style: none;
  padding-left: 0; }

.test {
  border: solid 5px red; }

/*# sourceMappingURL=main.css.map */
