@import 'var'
@import 'mixin'
@import 'animations'
@import 'menu'
@import 'header'


//BG

*
    margin: 0
    padding : 0

body
    background-color: $black
    text-align: center
    overflow-x: hidden

.static-bg
    position: fixed
    top: 0
    left: 0
    z-index: 1
    width: 100%
    transition: all 0.8s
    filter: contrast(115%)
    @media screen and (max-width: 768px)
        display: none

.blurred
    filter: contrast(115%) blur(3px)


//MAIN

main
    z-index: 2
    position: relative
    overflow: hidden
    height: 100vh
    padding-top : 20px
    //background-color: rgba(0,0,0,0.4)
    transition: background-color 2s
    @media screen and (max-width: 768px)
        //overflow: visible
        height: 80vh
    section
        @include custom-border
        display: inline-block
        padding: 10px
        width: 20%
        height: 400px
        position: absolute
        left: -11%
        transform: rotate(30deg)
        border-radius: 10px
        //overflow: hidden
        transition: all 1s
        font-family: $font1
        font-size: 1.2em
        line-height: 1.4em
        color: $white
        background-color: rgba(0,0,0,0.4)
        @media screen and (max-width: 769px)
            background-color: #0d0d0d
            transform: none
            left: 0
            font-size: 0.9em
            height: 50px
            width: 25%

    .section-4-others
        text-align: center
        @media screen and (max-width: 768px)
            text-align: left
    .content
        text-align: left
        padding: 5%
        font-size: 0.8em
        font-weight: bold
        text-shadow: 10px 5px 4px black
        .colonne
            box-sizing: border-box
            text-align: center
            width: 49%
            display: inline-block
            margin-bottom: 1.4em
            @media screen and (max-width: 768px)
                text-align: left
        ul
            list-style-type: none
        p
            margin-top: 10px
        dt
            font-size: 1.5em
            font-style: italic
        .section-sous-titre
            text-align: center
            font-size: 1.4em
            margin-bottom: 1.4em
        .skill-icon
            font-size: 1.9em
            margin-right: 10px

.projet
    width: 220px
    display: inline-block
    
.projet-image
    border-radius: 10px
    transition: all 1s
    opacity: 0.8
    z-index: 4
    width: 100%
    @media screen and (max-width: 768px)
        width: 150px
    &:hover
        opacity: 1


.projet-texte
    @include custom-border
    transition: all 1s
    border-radius: 5px
    //padding: 15px 0
    opacity: 0
    transform: translateY(-100%)




.projet-image:hover ~ .projet-texte
    opacity: 1
    background-color: $black
    transform: none




.contact
    @include custom-border
    position: absolute
    top: 18%
    right: 0%
    overflow: hidden
    border-radius: 10px
    background-color: rgba(0,0,0,0.4)
    width: 20%
    font-family: $font1
    font-size: 1em
    line-height: 2em
    color: $white
    padding: 15px 5px 5px 5px
    transition: background-color 1s
    @media screen and (max-width: 768px)
        top: 72%
        left: 0%
        width: 30%
        border: none
        background-color: rgba(0,0,0,0)
        box-shadow: none
    #photo
        display: block
        margin: 0 auto
        width: 80%
        border-radius: 10px
        filter: contrast(120%) grayscale(20%)
        @media screen and (max-width: 768px)
            display: none
    a
        text-decoration: none
        color: $white
        transition: text-shadow 0.5s
        &:hover
            text-decoration: none
            text-shadow: 0 0 2px white
    .logo
        opacity: 0.6
        transition: all 0.3s
        &:hover
            opacity: 1
        @media screen and (max-width: 768px)
            height: 40px




.contact-info
    @media screen and (max-width: 768px)
        display: none

.mobile-only
    @media screen and (min-width: 769px)
        display: none

.hidden
    opacity: 0
    transition: opacity 1s
