section
  background-color: $white
  margin-bottom: 100px
  padding-bottom: 15px
  position: relative
  z-index: 2
  border-bottom: solid 5px $color1

h3
  text-align: center
  color: $white
  background: linear-gradient($color1, $color1-dark)
  padding: 10px
  margin-top: 0
  font-family: $font2
  cursor: pointer
  transition: all 0.3s
  &:hover
    filter: contrast(120%)

.section-content
  font-family: $font1
  font-size: 1.2em
  padding-top: 15px

.photo
  width: 50%
  border: solid 5px $color1
  box-shadow: 3px 3px 0 black
  @media screen and (max-device-width: 768px)
    display: none

h4
  border-bottom: solid 2px $color1
  padding-bottom: 5px
  display: inline-block
  font-size: 1.2em
  margin-bottom: 15px

.skill-icon
  width: 32px

.contact-icon
  width: 64px

li
  margin-bottom: 10px

a
  color: $color2
  text-decoration: none

a:hover
  color: $color2-darker
  text-decoration: none

.liste-education
  padding-left: 30px

.project
  position: relative

.project-legend
  borderradius: 3px
  border: solid 2px $color2
  background-color: $white
  position: absolute
  top: 0
  left: 15px
  height: 100%
  width: 90%
  padding: 10px
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  transform: rotateY(180DEG)
  opacity: 0
  transition: all 0.5s ease-in-out

.project:hover .project-legend
  opacity: 1
  transform: none

.project:hover .project-img
  opacity: 0
  transform: rotateY(180DEG)

.project-img
  width: 100%
  margin-bottom: 10px
  transition: all 0.5s ease-in-out

.hire-me label
  text-align: center
  font-size: 2em
  color: $color1
  display: block
  @media screen and (max-device-width: 991px)
    display: none

.hire-me button
  background-color: $color1
  color: $white
  border-radius: 10px
  font-size: 1.6em
  padding: 15px

.no, .yes
  transition: all 0.5s
